<div class="d-flex flex-column h-100 justify-content-between">
  <header class="w-100 p-2 bg-danger shadow-sm">
    <div class="container w-100 d-flex flex-row justify-content-between align-items-center">
      <a *ngIf="authService.isLoggedIn" class="m-0 p-0 w-25 text-light fw-bolder fs-5" routerLink="/">
        CRUD 2.0
      </a>
      <a *ngIf="!authService.isLoggedIn" class="m-0 p-0 w-100 text-center text-light fw-bolder fs-5" routerLink="/">
        CRUD 2.0
      </a>

      <div *ngIf="authService.isLoggedIn" class="d-flex flex-row align-items-center justify-content-between w-25">
        <div class="dropdown">
          <a class="dropdown-toggle cursor-pointer text-light fs-5" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="select-none fs-6 text-center mb-2 border-bottom">
              {{ this.user.name }}
            </li>
            <li>
              <a class="dropdown-item text-center" routerLink="/configuracoes">Configurações</a>
            </li>
            <li>
              <a class="dropdown-item text-center" href="/logout">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="h-100">
    <router-outlet></router-outlet>
  </div>
  <footer class="bg-success shadow-sm p-2 w-100">
    <h5 class="m-0 p-0 text-light text-center w-100 w-100 d-block fw-lighter">
      Copyright 2023
    </h5>
  </footer>
</div>