<app-modal *ngIf="this.modalAdicionar.display" [modalVisible]="!this.modalAdicionar.visibility"
    [showFooter]="this.modalAdicionar.showFooter" [canClose]="this.modalAdicionar.canClose"
    [title]="this.modalAdicionar.title" [description]="this.modalAdicionar.description"
    [loading]="this.modalAdicionar.loadingIcon" [modal_type]="'adicionar_informacao'"></app-modal>

<div class="h-100 w-100 container d-flex flex-column">
    <h1 class="text-uppercase fs-5 my-1 border-bottom">CRUD de Informações</h1>

    <form action="" class="d-flex flex-row col-12 flex-wrap my-2  p-1 rounded" method="get">
        <h1 class="m-0 p-0 text-uppercase fs-6 fw-bold my-1 col-12">Filtro de informações</h1>

        <input type="text" placeholder="Buscar informação" name="" class="col-12 p-2 border rounded" id="">
    </form>
    <div class="d-flex flex-row col-12 flex-wrap justify-content-around">
        <button class="btn btn-outline-primary">Adicionar/Criar nova informação</button>
        <button class="btn btn-outline-success">Gerar Informações</button>
        <button class="btn btn-outline-danger">Deletar Informações</button>
    </div>

    <h1 class="text-uppercase fs-5 my-1 py-2 border-bottom">Informações</h1>


    <table class="table table-hover">
        <thead>
            <tr>
                <th class="cursor-pointer" scope="col">Id</th>
                <th class="cursor-pointer" scope="col">Informação</th>
                <th class="cursor-pointer" scope="col">Created_at</th>
                <th class="cursor-pointer" scope="col">Updated_at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>

        </tbody>
    </table>

</div>